{%extends "navbar.html"%}

{%block conteudo%}
    <h1>Cadastro de músicas</h1>
    <fieldset>
        {{ form.csrf_token() }}
        <form action="cadastrar" method="POST" enctype="multipart/form-data">
            <label for="arquivo">Album</label>
            <input type="file" name="arquivo" accept=".jpg, .jpeg, .png"><br><br>

            {{form.titulo.label()}}
            {{form.titulo()}}<br><br>

            {{form.artista.label()}}
            {{form.artista()}}<br><br>

            {{form.genero.label()}}
            {{form.genero()}}<br><br>

            {{form.cadastrar()}}

        </form>

        
    </fieldset>
{% endblock %}