{%extends "navbar.html"%}

{%block conteudo%}
    <h1>Editar música</h1>
    
    <form action="{{ url_for('atualizar') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            {{ musica.csrf_token() }}
            <input type="hidden" name="id_form_atualizar" value="{{id}}">
            <img src="{{url_for('imagem', nome_imagem=imagem_musica)}}"><br><br>
            <label for="arquivo">Album</label>
            <input type="file" name="arquivo_form_atualizar" accept=".jpg, .jpeg, .png"><br><br>

            {{ musica.titulo.label() }}
            {{ musica.titulo() }}
            <br><br>
            {{ musica.artista.label() }}
            {{ musica.artista() }}
            <br><br>
            {{ musica.genero.label() }}
            {{ musica.genero() }}

            {{ musica.cadastrar() }}

        </fieldset>
    </form>

        
    
{% endblock %}