{%extends "navbar.html"%}

{%block conteudo%}
    <h1>Cadastro de músicas</h1>
    <fieldset>
        <input type="hidden" name="id_form_atualizar" value="{{musica.tb_id}}">
        <img src="{{url_for('imagem', nome_imagem=imagem_musica)}}">

        <form action="{{url_for('atualizar')}}" method="POST">
            

            <label for="titulo">Título</label>
            <input type="text" name="titulo_form_atualizar" value="{{musica.tb_titulo}}"><br><br>

            <label for="artista">Artista</label>
            <input type="text" name="artista_form_atualizar" value="{{musica.tb_artista}}"><br><br>

            <label for="genero">Genero</label>
            <input type="text" name="genero_form_atualizar" value="{{musica.tb_genero}}"><br><br>

            <input type="submit" value="Cadastrar">
        </form>

        
    </fieldset>
{% endblock %}