{% extends "navbar.html" %}


{% block conteudo %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Músicas cadastradas</h1>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Artista</th>
            <th>Gênero</th>
        </tr>
        {% for musica in lista_musicas %}
        <tr>
            <td>{{musica.tb_titulo}}</td>
            <td>{{musica.tb_artista}}</td>
            <td>{{musica.tb_genero}}</td>
        </tr>
        {% endfor %}
    </table>
{%endblock%}