{% extends "navbar.html" %}


{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% block conteudo %}
    <h1>Músicas cadastradas</h1>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Artista</th>
            <th>Gênero</th>
        </tr>
        {% for musica in lista_musicas %}
        <tr>
            <td>{{musica.titulo}}</td>
            <td>{{musica.artista}}</td>
            <td>{{musica.genero}}</td>
        </tr>
        {% endfor %}
    </table>
{%endblock%}