{% extends "navbar.html"%}

{% block conteudo %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message | safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

   
    <fieldset>
        <fieldset>
            <legend>Login</legend>
            <form action="/validar" method="post">

                <label for="user">Usuário:</label>
                <input type="text" name="user">
                <br><br>
                <label for="senha">Senha:</label>
                <input type="password" name = "senha">

                <input type="submit" value="Entrar">
            </form>
        </fieldset>
    </fieldset>
{% endblock %}
