{% extends "navbar.html"%}

{% block conteudo %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message | safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
     
            <legend>Login</legend>
            <form action="/validar" method="post">
                    {{form.csrf_token()}}
                    <fieldset>
                    {{form.login_wtf.label()}}
                    {{form.login_wtf()}}
                    <br><br>
                    {{form.senha_wtf.label()}}
                    {{form.senha_wtf.label(())}}
                    <br><br>
                    {{form.entrar_wtf()}}
                </fieldset>            
                <input type="submit" value="Entrar">
            </form>

{% endblock %}
