{% extends "navbar.html" %}

{% block conteudo %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <legend>Cadastre-se</legend>
    <form action="/criar_usuario" method="post">
        <fieldset>
            {{form.nome_wtf.label()}}
            {{form.nome_wtf()}}
            <br><br>
            {{form.login_wtf.label()}}
            {{form.login_wtf()}}
            <br><br>
            {{form.senha_wtf.label()}}
            {{form.senha_wtf()}}

            {{form.cadastrar_wtf()}}
        </fieldset>
     </form>

{% endblock %}
